# Virtual environments
venv/
env/
.venv/

# IDE
.idea/

# Environment variables
.env

# Models weights, logs, figures
outputs/


# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg


# OS
.DS_Store
Thumbs.db



*.pt
*.keras
*.pth
.ipynb_checkpoints/
